.drop-down {
    display: flex;
    flex-direction: column;

    &__ldl{
        color: #8f8f8f;
        font-size: 14px;

        &_strong {
            font-weight: 600;
        }
    }

    &__select {
        border: none;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
        border-bottom: 1px solid $color-blue;
        outline: none;
        padding: 0;
        font-size: 14px;
    }
}