@import '../../styles/variables.scss';

.button{
    display: flex;
  border: none;
  box-sizing: border-box;
  background: $color-white;
  border-radius: 3px;
  min-height: 36px;
  font-size: 14px;
  padding: 0px 12px;
  cursor: pointer;
  font-weight: 600;
  color: #333333;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  border: 1px solid lightgray;

  &:hover {
    opacity: 0.8;
  }
  
  &__primary {
    background: $color-main;
    color: #ffffff;
    border: none;
  }
  
  &__secondary {
    background: $color-secondary;
    color: $color-darkgrey;
    border: none;
  }
}
