@import '../../styles/variables.scss';

.prod-list {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;

    &__item {
        min-height: 40px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        padding: 10px 10px;
        color: $color-white;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid $color-dirtywhite;
        box-shadow: 0px 1px 1px -1px $color-delimitershadow;

        background-color: $color-main;
        border-radius: 12px;
        margin-bottom: 12px;
        transition: background-color 0.2s ease;
        justify-content: space-between;
        
        &_selected {
            background-color: $color-selected;
            color: $color-baseblack;

            &:hover {
                background-color: $color-selected !important;
            }
        }

        &:hover {
                background-color: $color-secondary;
        }
    }

    &__item-fio {
        display: flex;
    }

    &__item-actions {
        display: flex;
        gap: 8px;
        margin-left: auto;
        min-width: 44px;
        max-width: 44px;

        & svg {
            &:hover {
                opacity: 0.8;
            }
        }
    }
}